In [39]:
import requests
import pandas as pd
from urllib.parse import quote
import os

In [40]:
# Global variables

raw_data_dir = "data/raw"

# -- ACS parameters for data downloads
acs_api_key = "7ef66a2745bedeb2fabfdda0ed2599e4a56a4dbe"
year = 2023
acs_dataset = "acs5"
acs_vars = {
    "B01003_001E": "pop_total", 
    "B19013_001E": "median_household_income", 
    "B19083_001E": "gini_index", 
    "B23025_002E": "pop_labor_force", 
    "B23025_005E": "pop_unemployed",
    "B17001_001E": "pop_poverty_status", 
    "B17001_002E": "pop_below_fpl", 
    "C17002_001E": "ratio_income_fpl"
}
acs_geo_level = "zip code tabulation area"

In [43]:
def download_acs_to_df(year, acs_dataset, var_list, geo_level):

    url = f"https://api.census.gov/data/{year}/acs/{acs_dataset}?get=NAME,{",".join(var_list.keys())}&for={quote(geo_level)}:*&key={acs_api_key}"

    print(f"Downloading {year} ACS data with specifications set in global variables cell...")
    response = requests.get(url)
    response.raise_for_status()
    data = response.json()
    print("Download complete!")

    # Convert data to df and rename columns for readability
    df = pd.DataFrame(data[1:], columns = data[0])
    df.rename(columns = acs_vars, inplace = True)

    # Export data
    export_path = os.path.join(raw_data_dir, f"{acs_dataset}_{year}_raw.csv")
    df.to_csv(export_path)
    print(f"Data saved to {export_path}")

    return df

In [44]:
# Run download
download_acs_to_df(year, acs_dataset, acs_vars, acs_geo_level)

Downloading 2023 ACS data with specifications set in global variables cell...
Download complete!
Data saved to data/raw/acs5_2023_raw.csv

,NAME,pop_total,median_household_income,gini_index,pop_labor_force,pop_unemployed,pop_poverty_status,pop_below_fpl,ratio_income_fpl,zip code tabulation area
0,ZCTA5 00601,16721,18571,0.4460,6059,1301,16676,10199,16676,00601
1,ZCTA5 00602,37510,21702,0.4747,12328,756,37419,17504,37419,00602
2,ZCTA5 00603,48317,19243,0.5599,16358,2729,47655,22683,47655,00603
3,ZCTA5 00606,5435,20226,0.4552,1414,0,5435,2984,5435,00606
4,ZCTA5 00610,25413,23732,0.4980,9876,625,25312,11145,25312,00610
...,...,...,...,...,...,...,...,...,...,...
33767,ZCTA5 99923,25,-666666666,0.2019,17,0,25,0,25,99923
33768,ZCTA5 99925,854,60000,0.4876,449,38,854,144,854,99925
33769,ZCTA5 99926,1385,69464,0.3813,687,59,1367,212,1367,99926
33770,ZCTA5 99927,18,-666666666,-666666666.0000,0,0,18,0,18,99927
33771,ZCTA5 99929,2105,64659,0.4017,883,31,2083,226,2083,99929